/* beginning of  modal  */

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@use "bulma/sass/utilities/controls";

:root {
    background: black;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index:-100;
    opacity: .50;

  }

.header {

    font-size: 20px;
    text-shadow: 5px 5px 10px black;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    background-image:linear-gradient(#FCB105,#550499, black, black);

}

.js-modal-trigger {
  color: white;
  text-align: center;
  background-image:linear-gradient( #FCB105, #550499);
  font-size: 20px;
  height: auto;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
  border-radius: 10px;
  padding: 8px;
}

.modal-wrap {
    background: #2e333d;
    position: center;
    width: 603px;   
    top: 53%;
}


.main {
    padding: 50px;
    width: 30%;
    column-width: 40%;
}

.title {

    text-align: center;
    color: white;
    top: 10%;
    font-size: 50px;
    border-radius: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}
.sub-title {
    text-align: center;
    top: 10%;
}


/* end of modal  */

.eventListItem {
    background-image:linear-gradient( #FCB105, #550499);
    color: white;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
}

.eventListItem:hover {
    
    color: lightgray;
    box-shadow: 10px 10px 5px #96FE00;
}

.eventListItem h1 {
    pointer-events: none;
    font-size: 28px;
    font-weight: bold;
}

.eventListItem p {
    pointer-events: none;
    font-style: italic;
    font-size: 20px;
}

#pageOneContent {
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    align-items: start;
}

.pageOneCol {
    background: #131B34;
    width: 40%;
    height: 50vh;
    padding: 10px;
    overflow-y:auto;
    border-radius: 20px;
    background-color: rgba(19, 27, 52, 0.8);
}

.skyline {
    min-width: 100vw; 
    max-height: 300px;
}