@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@use "bulma/sass/utilities/controls";

:root {
    background: black;
}

.header {
    font-size: 20px;
    text-shadow: 5px 5px 10px black;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    background-image:linear-gradient(#FCB105,#550499, black, black);
    padding-top: 15px;
}

.skyline {
    width: 100%; 
    max-height: 300px;
}

.title {

    text-align: center;
    color: white;
    top: 10%;
    font-size: 50px;
    border-radius: 20px;
}

h1{
font-size: 24px;
font-weight: bold;
}

#event-title {
    color: orange;
    font-weight: bold;
    border-bottom: solid orange 1px;
}

#event-title h1 {
    font-size: 48px; 
}

#event-title p {
    font-size: 28px;
}

#venue-container {
    margin-top: 5px;
}

#venue-container h3 {
    font-weight: bold;
    font-size: 24px;
}

#venueInfo {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.venueInfoDetail {
    background-color: rgba(19, 27, 52, 0.8);
    color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 25%;
    padding: 20px;
}

.venueInfoDetail h1 {
    margin-bottom: 10px;
}

#weather-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#weather-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seat-map-container img {
    width: 90%;
}

#info-container {
    margin-top: 30px;
}

#info-container p {
    margin-top: 15px;
}

#event-info {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color: white;
}

#event-desc {
    flex-basis: 50%;
}

button {
    width: 250px;
    margin-top: 30px;
    color: white !important;
}

footer {
    margin: 60px;
    display: flex;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 25%;
    align-items: start;
    margin-top: 30px;
    margin-right: 30px;
}

.image-container img {
    width: 550px;
    border-radius: 20px;
    border: solid orange 2px;
}

@media screen and (max-width: 1375px) {
    #event-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #venueInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .venueInfoDetail {
        margin-top: 30px;
        width: 85%;
    }
    #event-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .event-line {
        display: flex;
        flex-direction: column;
        align-items: center;
            } 

            .image-container {
                margin-right: 0;
                width: 85%;
            }
        
            .image-container img {
                width: 100%;
                max-width: 550px;
            }
        }

